// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  margin: 0px;
  padding: 0;
  font-family: sans-serif;
  font-weight: thin;
}

header {
  display: flex;
  justify-content: space-between;
  background: #333;
  color: white;
  padding: 10px;
}

.task {
  border: 1px solid #DDD;
  width: 300px;
  padding: 10px;
  background: #F8F8F8;
  margin: 5px;
}

.task h3 {
  margin: 0px;
}

.flex {
  display: flex;
}

.tasks {
  margin: 0px 10px;
}

.goals {
  margin: 0px 10px;
}
